{% extends "base.njk" %}

{% block titulo %}PhysioCare | Record List{% endblock %}

{% block contenido %}

	<h1>Record list</h1>

	<table width="100%">
		{% for record in records %}
			<tr>
				<td class="par">{{ record.patient.name}}
					{{record.patient.surname }}</td>
				<td>
					<a class="btn btn-success" href="/records/{{ record._id }}">Details</a>
					<a class="btn btn-primary" href="/records/edit/{{ record._id }}">Add appointment</a>
					<a class="btn btn-primary" href="/records/edit/{{ record._id }}">Edit</a>
					<form style="display:inline" action="/records/{{ record._id }}" method="post">
						<input type="hidden" name="_method" value="delete"/>
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
			</tr>
		{% else %}
			<tr>
				<td>There is no records.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}