{% extends "base.njk" %}

{% block contenido %}
    <div class="container mt-5">
        <h1 class="mb-4">Login</h1>

        <form method="post" action="/auth/login">
            <div class="form-group">
                <label for="login">Login:</label>
                {% if errors.login %}
                    <div class="alert alert-danger">
                        <p>{{ errors.login }}</p>
                    </div>
                {% endif %}
                <input type="text" class="form-control" id="login" name="login" value="{{ patient.login or '' }}" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                {% if errors.password %}
                    <div class="alert alert-danger">
                        <p>{{ errors.password }}</p>
                    </div>
                {% endif %}
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
{% endblock %}