<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/patients">Patients list</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/physios">Physios list</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/records">Records list</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/login">Login</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/patients/new">New Patient</a>
</div>