<div class="alert alert-secondary">
    {% if session.user and(session.user.rol == 'admin' or session.user.rol == 'physio') %}
        <a class="btn btn-dark" href="/patients">Patients list</a>
        <a class="btn btn-dark" href="/patients/new">New Patient</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if session.user %}
        <a class="btn btn-dark" href="/physios">Physios list</a>
    {% endif %}
    {% if session.user and session.user.rol == 'admin' %}
        <a class="btn btn-dark" href="/physios/new">New Physio</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if session.user and(session.user.rol == 'admin' or session.user.rol == 'physio') %}
        <a class="btn btn-dark" href="/records">Records list</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if session and session.user %}
        <a class="btn btn-dark" href="/auth/logout">Logout</a>
    {% else %}
        <a class="btn btn-dark" href="/auth/login">Login</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Profile Button -->
    {% if session.user and(session.user.rol == 'patient' or session.user.rol == 'physio') %}
        <a class="btn btn-darl" href="/{{ 'patients' if session.user.rol == 'patient' else 'physios' }}/{{ session.user.id }}">Profile</a>
    {% endif %}
</div>