{% extends "base.njk" %}

{% block titulo %}PhysioCare | Physio Detail{% endblock %}

{% block contenido %}

	<h1>Physio detail</h1>
	<div>
		<p>
			<strong>Name:</strong>
			{{ physio.name }}</p>
		<p>
			<strong>Surname:</strong>
			{{ physio.surname }}</p>
		<p>
			<strong>Specialty:</strong>
			{{ physio.specialty }}</p>
		<p>
			<strong>License Number:</strong>
			{{ physio.licenseNumber }}</p>
		{% if physio.image %}
			<strong>Image:</strong>
			<p><img src="/public/uploads/{{ physio.image }}"></p>
		{% endif %}
	</div>
	{% if session.user and(session.user.rol == 'admin') %}
		<a class="btn btn-primary" href="/physios/{{ physio._id }}/edit">Edit</a>
	{% endif %}
{% endblock %}